<div class="card">
    <div class="card-header">
        <h5 class="card-title">Create task</h5>
    </div>
    <div class="card-body">
      <%= form_with model: @task, url: tasks_path, html: { method: :post }, local: true do |f| %>
            <%= render partial:'form', locals: {f: f} %>
            <%= f.submit "Create task", class: "btn btn-primary"%>
        <% end %>
    </div>
</div>
